:host {
  align-items: center;
  background-color: var(--button-background-color-default);
  border: none;
  border-color: var(--button-border-color-default);
  border-style: solid;
  border-width: 1px;
  border-radius: 999px;
  box-sizing: border-box;
  color: var(--button-text-color-default);
  display: inline-flex;
  gap: 4px;
  margin: 0;
  padding-block: 8px;
  padding-inline: 16px;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

:host::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@media (hover: hover) {
  :host:enabled:hover,
  :host:any-link:hover {
    background-color: var(--button-background-color-hover);
    cursor: pointer;
  }
}

:host:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

:host.kind-primary {
  --button-background-color-default: #027b8c;
  --button-background-color-hover: #016f83;
  --button-border-color-default: transparent;
  --button-text-color-default: #ffffff;
}

:host.kind-secondary {
  --button-background-color-default: #ffffff;
  --button-background-color-hover: #f9fafb;
  --button-border-color-default: #d0d5dd;
  --button-text-color-default: #344054;
}

:host.kind-tertiary {
  --button-background-color-default: #ffffff;
  --button-background-color-hover: #d7eaec;
  --button-border-color-default: #87c0c8;
  --button-text-color-default: #016f83;
}

:host.size-small {
  font: 600 var(--type-text-sm);
  min-height: 36px;
  padding-block: 4px;
  padding-inline: 12px;
}

:host.size-medium {
  font: 600 var(--type-text-sm);
  min-height: 40px;
  padding-block: 8px;
  padding-inline: 14px;
}

:host.size-large {
  font: 600 var(--type-text-md);
  min-height: 44px;
  padding-block: 8px;
  padding-inline: 16px;
}

:host .text {
  padding-inline: 2px;
}

:host /deep/ qai-icon {
  height: 20px;
  width: 20px;
}
