:host {
  align-items: center;
  border-style: solid;
  border-width: 1px;
  display: inline-flex;
  font: normal 500 14px/1.43 Rubik;
  gap: 2px;
  justify-content: center;
  min-height: 28px;
  padding-block: 2px;
  padding-inline: 8px;
}

:host .text {
  padding-inline: 2px;
}

:host.shape-rectangle {
  border-radius: 8px;
}

:host.shape-round {
  border-radius: 999px;
}

:host.kind-gray {
  background-color: #f9fafb;
  border-color: #eaecf0;
  color: #344054;
}

:host.kind-red {
  background-color: #fef3f2;
  border-color: #fecdca;
  color: #b42318;
}

:host.kind-yellow {
  background-color: #fffaeb;
  border-color: #fedf89;
  color: #b54708;
}

:host.kind-green {
  background-color: #dcf3e2;
  border-color: #b0ebc8;
  color: #48ba7c;
}

:host /deep/ qai-icon {
  height: 12px;
  width: 12px;
}
