:host {
  align-items: center;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: inline-flex;
  font: 500 var(--type-text-sm);
  gap: 2px;
  justify-content: center;
  min-height: 28px;
  padding-block: 2px;
  padding-inline: 8px;
  white-space: nowrap;
}

:host .text {
  padding-inline: 2px;
}

:host.shape-rectangle {
  border-radius: 8px;
}

:host.shape-round {
  border-radius: 999px;
}

:host.kind-gray {
  background-color: var(--bg-primary);
  border-color: #eaecf0;
  color: var(--text-secondary);
}

:host.kind-red {
  background-color: var(--bg-error);
  border-color: #fecdca;
  color: var(--text-error);
}

:host.kind-yellow {
  background-color: var(--bg-warning);
  border-color: #fedf89;
  color: var(--text-warning);
}

:host.kind-green {
  background-color: var(--bg-success);
  border-color: #b0ebc8;
  color: var(--text-success);
}

:host ::ng-deep qai-icon {
  height: 12px;
  width: 12px;
}
