:host {
  align-items: center;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  font-family: Rubik;
  height: 200px;
  justify-content: center;
  padding-block: 24px;
  padding-inline: 24px;
  width: 200px;
}

:host.kind-pass {
  border-color: #9ae6bb;
}

:host.kind-pass .score {
  color: var(--text-success);
}

:host.kind-fail {
  border-color: #fda29b;
}

:host.kind-fail .score {
  color: var(--text-error);
}

.title {
  color: var(--text-primary);
  font: normal 700 16px/1.5 Rubik;
}

.score {
  font: normal 700 72px/1.25 Rubik;
}

.max {
  color: var(--text-tertiary);
  font: normal 500 16px/1.5 Rubik;
}
