:host {
  appearance: none;
  border-radius: 999px;
  box-sizing: border-box;
  height: 20px;
  margin: 0;
  width: 20px;
}

:host:not(:checked):not(:disabled) {
  background-color: var(--bg-primary);
  border-color: var(--border-primary);
  border-style: solid;
  border-width: 1px;
}

:host:checked:not(:disabled) {
  background-color: var(--fg-brand);
}

:host:checked::after {
  background-color: var(--bg-primary);
  border-radius: 9999px;
  content: '';
  display: block;
  height: 8px;
  margin-block: 6px;
  margin-inline: 6px;
  width: 8px;
}

:host:disabled:not(:checked) {
  background-color: var(--bg-disabled);
  border-color: var(--border-disabled);
  cursor: not-allowed;
}

:host:disabled:checked {
  background-color: var(--border-disabled);
  border-color: var(--border-disabled);
  cursor: not-allowed;
}
