:host {
  background-color: var(--bg-primary);
  border: 1px solid var(--border-secondary);
  border-radius: 8px;
  /* box-shadow: var(--shadow-small); */
  box-sizing: border-box;
  display: block;
  color: var(--text-primary);
  padding-block: 24px;
  padding-inline: 24px;
}

.badges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-block-end: 24px;
}

.text {
  font: 600 var(--type-text-xl);
}

.action {
  margin-block-start: 24px;
}
